.header{
    font-family: Readex Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 100px; 
    padding-bottom: 0; 
    -webkit-text-stroke: thin;
    color: #5F5FFF;
}
.underline{
    text-decoration: underline;
    text-underline-position: under;
}
.pink{
    text-decoration-color: #FF3E6C;
}
.blue{
    text-decoration-color: #5F5FFF;
}
.quote{
    font-family: Readex Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;

    letter-spacing: 0.02em;

    color: #718096;
}
.info{
    display: flex;
    justify-content: space-between;
}
button{
    background: none;
    border: 2px solid #000000;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 4% 16px;
    margin-left: 0;
    padding: 8px 30px;
    cursor: pointer; 
}
button:hover{
    background: black;
    color: white;
}
.bg{
    width: 7%;
}
.image{
    width: 30%;
}
.title{
    font-family: Readex Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    
    letter-spacing: 0.02em;

    color: #000000;
}
.description{
    font-family: Readex Pro;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;

    letter-spacing: 0.02em;

    color: #718096;
}
.paragraph{
    padding: 0 150px;
    text-align: justify;
}
svg{
    padding-right: 1em;
}