.navbar__menu{
    display: flex;
}
#logoImg{
    display: unset;
}
.logo{
    font-style: normal;
    display: flex;
    flex: auto; 
    align-self: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.04em;
    padding-left: 40px;
    color: #5F5FFF;
}
.regular{
    font-weight: 400;
}
.navbar__menu ul{ 
    display: flex;
    padding-right: 40px;
}
.navbar__menu li{
    display: inline-block;
}
.link{
    display: block;
    color: black; 
    text-decoration: none;
    padding: 1em; 
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
}
.link:hover{color: #5F5FFF;}